<div class="wrapper">
    <div class="wrap">

        <div class="detail-page">

            <div class="detail-title">
                <h1>Blog 1 </h1>
            </div>

            <div class="detail-meta">
                <div class="post-meta">
                    <span class="post-date">
                        Mar 01, 2017
                    </span><em>/</em>

                </div>

                <div class="detai-social">
                    <a href="https://www.facebook.com/varahisofttech99?mibextid=ZbWKwL" class="facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="https://www.instagram.com/varahisofttech?igshid=ZDdkNTZiNTM%3D" class="instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/varahisofttech2023/mycompany/verification/#" class="linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>

                </div>
            </div>

            <div class="post-thumbnail post-thumbnail-large">
                <carousel [interval]="1500" [showIndicators]="false">
                    <slide *ngFor="let slide of slides; let index=index">
                        <div class="img-fluid" style="height: 100%;">
                            <img [src]="slide.src" alt="image slide"
                                style=" max-width: 100%; max-height: 500px; object-fit: contain;" class="img">
                        </div>
                    </slide>
                </carousel>
            </div>

            <div class="cols">
                <!--colleft-->
                <div class="colleft" >

                    <article class="detail" id="animate" style="background-color: #e6f1fd; padding:10px;">
                        <p>Donec rutrum congue leo eget malesuada. Proin eget tortor risus. Donec sollicitudin molestie
                            malesuada. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Curabitur
                            aliquet quam id dui posuere blandit. Curabitur non nulla sit amet nisl tempus convallis quis
                            ac lectus. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat.
                            Proin eget tortor risus. Donec rutrum congue leo eget malesuada.</p>
                        <h4>Small Heading Style</h4>
                        <p>
                            Qed ut perspiciatis unde omnis iste natus <a href="#"> sit voluptatem</a> accusantium
                            doloremque laudantium, totam rem aperiam, eaque ipsa quae et quasi architecto beatae vitae
                            dicta sunt explicabo emo enim ipsam voluptatem.
                        </p>
                        <blockquote>
                            <p>
                                People think focus means saying yes to the thing you’ve got to focus on. But that’s not
                                what it means at all. It means saying no to the hundred other good ideas that there are.
                                You have to pick carefully. I’m actually as proud of the things we haven’t done as the
                                things I have done. Innovation is saying no to 1,000 things. <cite>
                                    <a href="#">Steve Jobs </a> – Apple Worldwide Developers’ Conference, 1997
                                </cite>
                            </p>
                        </blockquote>

                        <p>Red ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt.</p>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                            voluptatem. Ut enim ad minima veniam.</p>
                    </article>
                    <!---->
                    <div class="detail-bottom">
                        <div class="single-tag single-info">
                            <p class="caption"><span>Tags Cloud</span> </p>
                            <div class="tags">
                                <a href="#"> spotlight</a>
                                <a href="#"> max in</a>
                                <a href="#"> special</a>
                                <a href="3.html"> cloud </a>
                                <a href="#"> spotlight</a>
                                <a href="#"> Lorem text</a>
                                <a href="3.html"> review</a>
                                <a href="#"> spotlight</a>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="single-info">
                                    <p class="caption"><span>Drop a like !</span> </p>
                                    <div class="single-rating">
                                        <div class="rating-item d-flex"
                                            style="display: flex;align-items: center; flex-direction: column; justify-content: center;">
                                            <button class="btn btn-outline-light" (click)="countLike() "> <strong
                                                    style="color: black;">Like <i
                                                        class="fa fa-thumbs-up"></i></strong></button>
                                            <span>{{likes}} likes</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="single-info">
                                    <p class="caption"><span>Share To</span> </p>
                                    <div class="single-share">


                                        <a href="#" class="whatsapp">
                                            <i class="fa fa-whatsapp"></i>
                                        </a>
                                        <a href="#" class="instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="related-post" id="animate">
                        <div class="box-detail-caption">
                            <span>YOU MIGHT ALSO LIKE</span>
                        </div>
                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-12 " id="MightLike" *ngFor="let item of slides"
                                style="max-height: 500px;border: 1px solid #e6f1fd; border-top: none;border-bottom: none;">
                                <div class="img-responsive d-flex justify-content-center"
                                    style="max-width: 100%; height: 200px;">
                                    <img [src]="item?.src" alt="" class="img-fluid" style="object-fit: contain;">
                                </div>
                                <p class="p-2" style="text-overflow: ellipsis;font-size: 15px; white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        max-width: 600px;" [innerText]="item?.desc"></p>
                                <div class="content" style="position: relative;bottom: 0;border-bottom: 1px solid #00539F;">
                                    <button class="btn d-flex justify-content-center align-items-center"
                                        style="text-align: center;">Read Blog..</button>
                                </div>
                            </div>


                        </div>
                    </div>






                </div>
                <!--colright-->
                <div class="colright" >
                    <!--box-search-->
                    <div class="box-search-sidebar">
                        <input type="search" placeholder="Begin typing..." />
                        <button>Search</button>
                    </div>

                    <!--box trending-->
                    <div class="col-caption">
                        <span> TRENDING POSTS</span>
                    </div>
                    <div class="box-trending" id="animate">
                        <article class="trending-item" *ngFor="let item of slides , let i = index">
                            <div class="post-thumb" *ngIf="i == 0 ">
                                <img [src]="item?.src" alt="Somethin in my way ya ,ooooo">
                            </div>
                            <h3 *ngIf="i == 0">
                                Maecenas semper ante sed lectus egestas.
                            </h3>
                        </article>
                        <ul class="list-trending">
                            <span *ngFor="let item of slides , let i = index">

                                <li *ngIf="i>0">
                                    <div class="post-thumb">
                                        <img alt="something in my way yeah ....0000" [src]="item?.src">
                                    </div>
                                    <h3 class="post-title" style="text-overflow: ellipsis;font-size: 15px; white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    max-width: 200px;">{{item?.title}} </h3>
                                </li>
                            </span>


                        </ul>
                    </div>




                    <!--box newsletter-->
                    <div class="col-caption">
                        <span> NEWSLETTER</span>
                    </div>
                    <div class="subcribe-box" id="animate">
                        <p class="des">
                            Enter your email address below to subscribe to my newsletter
                        </p>
                        <div class="mc4wp-form-fields">
                            <p>
                                <label>Email address: </label>
                                <input type="email" name="EMAIL" placeholder="Your email address" required="">
                            </p>
                            <p>
                                <input type="submit" value="Subscribe">
                            </p>
                            <div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1"
                                    autocomplete="off"></div><input type="hidden" name="_mc4wp_timestamp"
                                value="1496302723"><input type="hidden" name="_mc4wp_form_id" value="4899"><input
                                type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
                        </div>
                        <div class="mc4wp-response"></div>
                    </div>

                    <!--box tab-->


                    <!--box advertisement-->
                    <div class="col-caption">
                        <span> advertisement</span>
                    </div>
                    <div class="box-ads">
                        <img alt="" src="./assets/images/ads.jpg" />
                    </div>
                    <div class="box-ads">
                        <img alt="" src="./assets/images/ads.jpg" />
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

       
    </div>
</div>