<div class="header mt-3 ">
  <div class="container">
    <h1 style="text-align: center; font-size: 50px;"> <span style="border-bottom: 2px solid black; ">Varahi Blogs</span></h1>
  </div>
</div>

<Section class=" mt-5 ">
  <div class="contianer" style="display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;">
    <h1 style="text-align: center;">Will Ai take over the world ?</h1>

    <div class="container-fluid"
      style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
      <mat-card class="example-card">
        <!-- <mat-card-header> -->
        <!-- <div mat-card-avatar class="example-header-image"></div> -->

        <!-- </mat-card-header> -->
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-card-content>
              <p style="text-align: justify; text-justify: inter-word;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe animi voluptas quod expedita eum
                molestias aliquam odit, unde illo iure ullam, eaque neque adipisci odio soluta mollitia architecto!
                Consequatur maxime quis illum mollitia explicabo iure repudiandae omnis neque dolorum. Non eligendi
                natus reprehenderit cupiditate error iusto consectetur quod est cum repellendus nostrum libero dolore
                aut dignissimos laborum quidem illum quasi velit corporis exercitationem, ipsum voluptates a. A et odit
                dolor ducimus modi adipisci unde voluptate perspiciatis quae possimus exercitationem itaque ut explicabo
                quidem, quasi sed maiores iure magni! Minus vel facilis eveniet blanditiis nihil quis commodi debitis
                distinctio odit!
              </p>
              <p style="text-align: justify; text-justify: inter-word;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad saepe animi voluptas quod expedita eum
                molestias aliquam odit, unde illo iure ullam, eaque neque adipisci odio soluta mollitia architecto!
                Consequatur maxime quis illum mollitia explicabo iure repudiandae omnis neque dolorum. Non eligendi
                natus reprehenderit cupiditate error iusto consectetur quod est cum repellendus nostrum libero dolore
                aut dignissimos laborum quidem illum quasi velit corporis exercitationem, ipsum voluptates a. A et odit
                dolor ducimus modi adipisci unde voluptate perspiciatis quae possimus exercitationem itaque ut explicabo
                quidem, quasi sed maiores iure magni! Minus vel facilis eveniet blanditiis nihil quis commodi debitis
                distinctio odit!
              </p>
            </mat-card-content>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">


            <video class="object-fit-contain content" controls autoplay loop>
              <source [src]="video.src">
            </video>

          </div>




        </div>
      </mat-card>

    </div>

      <div class="container" style="display: flex;
      justify-content: flex-start;
      align-items: center;">
        <button aria-hidden="true" aria-label="Example home icon" style="margin: 10px; border-radius: 50%;"> <i class="fa fa-share"></i></button>
        <button aria-hidden="true" aria-label="Example home icon" style="margin: 10px;border-radius: 50%;"><i class="fa fa-heart"></i></button>
        <button aria-hidden="true" aria-label="Example home icon" style="margin: 10px;border-radius: 50%;"><i class="fa fa-download"></i></button>

      </div>
  </div>
</Section>


<Section class="mt-5 pb-5">
  <div class="header mt-3 ">
    <div class="container">
      <h1 style="text-align: left" ><span style="border-bottom: 1px solid black;"> More Insights</span></h1>
    </div>
  </div>

  <div class="container">
    <carousel [itemsPerSlide]="3"
          [singleSlideOffset]="false"
          [noWrap]="!noWrap"
          [interval]="0"
          [startFromIndex]="5"
          (slideRangeChange)="onSlideRangeChange($event)">
  <slide *ngFor="let slide of slides; let index=index" style="height: 200px; padding: 10px; margin: 10px;">
    <img [src]="slide.src" alt="image slide" style="display: block; width: 100%;">
    <div class="carousel-caption" >
      <h4>Slide {{index}}</h4>
    </div>
  </slide>
</carousel>
  </div>
</Section>